*{
  --color-primary: #f8aebf;
  --color-secondary: #fff;
  --color-ternary: #f87e89;
}
.bg-color-primary{
  background-color: var(--color-primary);
}
.bg-color-secondary{
  background-color: var(--color-secondary);
}

#navbar{
  padding: 20px 10px;
}
#navbar li a{
  color: var(--color-secondary);
}
main{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
#home h1{
  color: var(--color-ternary);
  font-weight: 700;
}
#home, #equipe, #servicos, #local, #carrosel{
  margin: 25px auto;
  padding-bottom: 20px;
}
#equipe h3, #servicos h3, #local h3{
  padding-bottom: 30px;
  padding-top: 20px;
}
.link-contato{
  text-decoration: none;
  color: var(--color-secondary);
  padding: 16px 12px;
  font-weight: 700;
}
.link-contato:hover{
  text-decoration: none;
  color: var(--color-primary);
}