*{
  --color-primary: #f79cb1;
  --color-secondary: #fff;
  --color-ternary: #f87e89;
}
.bg-color-primary{
  background-color: var(--color-primary);
}
.bg-color-secondary{
  background-color: var(--color-secondary);
}
.ft-ct-tl-3{
  color: var(--color-ternary);
  font-weight: 600;
}
.ft-cs-tl-3{
  color: var(--color-secondary);
  font-weight: 600;
}
.tx-cl-p{
  color: var(--color-primary);
}
.tx-cl-s{
  color: var(--color-secondary);
}
.img-cirle{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.ft-ct-tl-1{
  color: var(--color-ternary);
  font-weight: 700;
}
.m-img-width{
  max-width: 100%;
}
.link-style{
  text-decoration: none;
  color: var(--color-secondary);
}
.link-style:hover{
  color: var(--color-secondary);
}
#navbar{
  padding: 20px 10px;
}
#navbar li a{
  color: var(--color-secondary);
}
main{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
#home, #equipe, #servicos, #local, #carrosel{
  margin: 25px auto;
  padding-bottom: 20px;
}
#equipe h3, #servicos h3, #local h3{
  padding-bottom: 30px;
  padding-top: 30px;
}
.link-contato{
  text-decoration: none;
  color: var(--color-secondary);
  padding: 16px 12px;
  font-weight: 700;
}
.link-contato:hover{
  text-decoration: none;
  color: var(--color-primary);
}